fixtures/*.oga filter=lfs diff=lfs merge=lfs -text
fixtures/*.wav filter=lfs diff=lfs merge=lfs -text
fixtures/benchmark/*.mp3 filter=lfs diff=lfs merge=lfs -text
fixtures/benchmark/*.oga filter=lfs diff=lfs merge=lfs -text
fixtures/benchmark/*.ogg filter=lfs diff=lfs merge=lfs -text
fixtures/benchmark/*.wav filter=lfs diff=lfs merge=lfs -text
assets/*.svg filter=lfs diff=lfs merge=lfs -text
assets/*.png filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
